### - Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import pandas as pd
import numpy as np


csv = pd.read_csv(r'C:\Users\motxi\Documents\DelayedFlights.csv')
df = pd.DataFrame(csv)
print(df.head(), '\n')
print(df.info())  #mirem les columnes amb la info que ofereixen

   Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0           0  2008      1           3          4   2003.0        1955
1           1  2008      1           3          4    754.0         735
2           2  2008      1           3          4    628.0         620
3           4  2008      1           3          4   1829.0        1755
4           5  2008      1           3          4   1940.0        1915

   ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0   2211.0        2225            WN  ...     4.0     8.0          0
1   1002.0        1000            WN  ...     5.0    10.0          0
2    804.0         750            WN  ...     3.0    17.0          0
3   1959.0        1925            WN  ...     3.0    10.0          0
4   2121.0        2110            WN  ...     4.0    10.0          0

   CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                 N         0           NaN           NaN      NaN
1                 N         0           NaN           NaN      NaN
2                 N         0           NaN           NaN      NaN
3                 N         0           2.0           0.0      0.0
4                 N         0           NaN           NaN      NaN

  SecurityDelay  LateAircraftDelay
0           NaN                NaN
1           NaN                NaN
2           NaN                NaN
3           0.0               32.0
4           NaN                NaN

[5 rows x 30 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB
None

In [2]:
#Inspecciono les columnes que crec mes rellevants, a modo de taules les agrupo en 3 grans categories ; 

#-Temporals: *(Relatives al calendari i temps de vol) 

df.loc[:, ['Year','Month', 'DayofMonth', 'DayOfWeek', 'AirTime','CarrierDelay', 'ArrDelay', 'DepDelay']].head()

,Year,Month,DayofMonth,DayOfWeek,AirTime,CarrierDelay,ArrDelay,DepDelay
0,2008,1,3,4,116.0,NaN,-14.0,8.0
1,2008,1,3,4,113.0,NaN,2.0,19.0
2,2008,1,3,4,76.0,NaN,14.0,8.0
3,2008,1,3,4,77.0,2.0,34.0,34.0
4,2008,1,3,4,87.0,NaN,11.0,25.0

In [3]:
#-Causes: *(Relatives a les causes que orginen el retard)

df.loc[:, ['WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].head()

   WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0           NaN       NaN            NaN                NaN
1           NaN       NaN            NaN                NaN
2           NaN       NaN            NaN                NaN
3           0.0       0.0            0.0               32.0
4           NaN       NaN            NaN                NaN

In [4]:
#-Vol: *(Miscelanea d'objectes relacionats amb el trajecte i l'aerolinia )

df.loc[:, ['UniqueCarrier', 'Origin', 'Dest', 'Distance', 'Diverted', 'Cancelled', 'CancellationCode']].head()

  UniqueCarrier Origin Dest  Distance  Diverted  Cancelled CancellationCode
0            WN    IAD  TPA       810         0          0                N
1            WN    IAD  TPA       810         0          0                N
2            WN    IND  BWI       515         0          0                N
3            WN    IND  BWI       515         0          0                N
4            WN    IND  JAX       688         0          0                N

In [76]:
#Filtro totes les columnes que no vull per crear les noves taules. 

#Creo la taula temporals
temporals = df.filter(['Year','Month', 'DayofMonth', 'DayOfWeek', 'AirTime', 'ArrDelay', 'DepDelay'], axis=1)

#Creo la taula causes
causes = df.filter(['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1)

#Creo la taula vol
vol = df.filter(['UniqueCarrier', 'Origin', 'Dest', 'Distance', 'Diverted', 'Cancelled', 'CancellationCode'], axis=1)

#Creo la unió de les tres taules anteriors

data = pd.concat([temporals, causes, vol],axis=1)
data.head()

,Year,Month,DayofMonth,DayOfWeek,AirTime,ArrDelay,DepDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,UniqueCarrier,Origin,Dest,Distance,Diverted,Cancelled,CancellationCode
0,2008,1,3,4,116.0,-14.0,8.0,NaN,NaN,NaN,NaN,NaN,WN,IAD,TPA,810,0,0,N
1,2008,1,3,4,113.0,2.0,19.0,NaN,NaN,NaN,NaN,NaN,WN,IAD,TPA,810,0,0,N
2,2008,1,3,4,76.0,14.0,8.0,NaN,NaN,NaN,NaN,NaN,WN,IND,BWI,515,0,0,N
3,2008,1,3,4,77.0,34.0,34.0,2.0,0.0,0.0,0.0,32.0,WN,IND,BWI,515,0,0,N
4,2008,1,3,4,87.0,11.0,25.0,NaN,NaN,NaN,NaN,NaN,WN,IND,JAX,688,0,0,N

### - Exercici 2

Fes un informe complet del data set:.

    1.-Resumeix estadísticament les columnes d’interès
    2.-Troba quantes dades faltants hi ha per columna
    3.-Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    4.-Taula de les aerolínies amb més endarreriments acumulats
    5.-Quins són els vols més llargs? I els més endarrerits?
    Etc.

In [6]:
#Resum Estadistic per categories:

#TEMPORALS

#-Les dades relatives al calendari(d/M/YY) sense combinar-se ens donen informacio a través del modo. 

# p.ex: quin es el dia_setmana/dia_mes/mes de l'any que acumula mes retards? O ¿quin es el temps mes 
# comú de retard en Arribades i Sortides?.

print(temporals.mode(dropna=True), '\n')


#-Airtime em dona amb els percentils una idea aproximada de la distribucio dels retards entre 
# vols llargs i vols curts. 

#(p.ex: combinant Airtime amb diverted/cancelled, el CancellationCode i la taula 
#de causes,ens permetria comprobar la "loca" hipotesis de que un vol desviat/cancel·lat, amb un 
#airtime/security delay alts, teòricament te X probabilitats d'haver sigut segrestat, i la "no tan loca"
#hipotesis de que s'ha hagut d'evacuar una terminal si a mes tots els vols que coincidien en espai/temps 
#a aquell aeroport també han sigut cancelats sense WheatherDelay.

temporals['AirTime'].describe()


#- ArrDelay i ArrDep ens permeten situar temporalment els problemes o descobrir-ne de nous, ja que 
#si els temps no coincideixen es probable que hi hagi alguna causa que ha sumat temps. 

# p.ex: Combinant; LateAircraftDelay(retard del vol anterior)
#                  CarrierDelay(el retard del propi vol)
#                  ArrDelay(retard a l'arribada)
#                  DepDelay(retard a la sortida) 

#Podriem elaborar un filtre "HONEST_DELAY" que ens digui si el retard d'un vol es atribuible al propi vol o 
#senzillament ja venia retrassat del vol anterior i en realitat els seus temps son normals o fins i tot
#mes eficients, partint de la seguent logica:

#   if (ArrDelay == DepDelay) and (LateAircraftDelay + CarrierDelay == DepDelay):

   Year  Month  DayofMonth  DayOfWeek  AirTime  ArrDelay  DepDelay
0  2008     12          22          5     45.0      10.0       6.0

count    1.928371e+06
mean     1.082771e+02
std      6.864261e+01
min      0.000000e+00
25%      5.800000e+01
50%      9.000000e+01
75%      1.370000e+02
max      1.091000e+03
Name: AirTime, dtype: float64

In [7]:
#CAUSES

#-Aquestes basicament especifiquen el motiu del retard i per si soles no aporten molta informació, potser
# en un marc temporal ens poden donar una vaga idea de certes tendencies, pero mes aviat son per contrastar
# amb dades especifiques del vol/temporals :

# p.ex.A: ¿Quina aerolinia te mes cancelacions per LateAircraftDelay? 

# p.ex.B: ¿A quins mesos determinat aeroport ha tingut mes desviacions per condicions meteorologiques?

In [8]:
#VOL

#-Aqui trobem dos grups:   1- el relatiu al vol (aerolinia, origen/destinacio, distancia) que sense 
#                             combinar-se ens donen informacio a través del modo.                       

#                             p.ex: ¿Quina aerolinia te mes vols? ¿Aeroport d'on han sortit mes vols?

print(vol.mode(dropna=True),'\n')

#                          2- el relatiu a desviat/cancelat (boleans) i el codi de la causa de cancel·lacio
#                             mes comu.

  UniqueCarrier Origin Dest  Distance  Diverted  Cancelled CancellationCode
0            WN    ATL  ORD       337         0          0                N

In [9]:
#Funcio que busca dades faltants per columna

print(df.isnull().sum())

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [10]:
#Crear columna nova: velocitat mitjana del vol (avg_vel) en km/h

avg_vel = np.divide((df['Distance']*1.609344),(df['AirTime']/60))

vol.insert(3,"AvgVelocity",avg_vel)
vol.head()

,UniqueCarrier,Origin,Dest,AvgVelocity,Distance,Diverted,Cancelled,CancellationCode
0,WN,IAD,TPA,674.259641,810,0,0,N
1,WN,IAD,TPA,692.160340,810,0,0,N
2,WN,IND,BWI,654.325389,515,0,0,N
3,WN,IND,BWI,645.827657,515,0,0,N
4,WN,IND,JAX,763.605981,688,0,0,N

In [26]:
#TOP10 Aerolinies amb mes retards acumulats

vol['UniqueCarrier'].value_counts()[:10].sort_values(ascending=False)

WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
DL    114238
XE    103663
CO    100195
US     98425
EV     81877
Name: UniqueCarrier, dtype: int64

In [61]:
#vols mes llargs en TOP3 :

data.sort_values(by='AirTime', ascending=False)[:3]

,Year,Month,DayofMonth,DayOfWeek,AirTime,ArrDelay,DepDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,UniqueCarrier,Origin,Dest,Distance,Diverted,Cancelled,CancellationCode
1488690,2008,9,9,2,1091.0,1050.0,291.0,1040.0,0.0,0.0,0.0,10.0,HA,SEA,HNL,2677,0,0,N
1367047,2008,8,19,2,733.0,612.0,197.0,612.0,0.0,0.0,0.0,0.0,HA,HNL,SEA,2677,0,0,N
362529,2008,2,21,4,664.0,54.0,17.0,17.0,0.0,37.0,0.0,0.0,CO,EWR,HNL,4962,0,0,N

In [78]:
#vols mes endarrerits en TOP3 :

late = df['ActualElapsedTime'] - data['AirTime']
data.insert(5,'Delay',late)

x = data.sort_values(by='Delay', ascending=False)[:3] 
x.filter(['Year', 'Month', 'DayofMonth', 'UniqueCarrier', 'Origin', 'Dest', 'Delay'])

         Year  Month  DayofMonth UniqueCarrier Origin Dest  Delay
1173580  2008      7          23            DL    JFK  SFO  430.0
1779939  2008     12          10            XE    IAH  BTR  398.0
1930131  2008     12          10            CO    IAH  MSP  391.0